<!-- User Login start -->
<div class="container">
  <div class="row">
          <div class="col col-sm-6">
              <div class="panel">
                  <%= form_for :session, url: session_path do |form| %>
                  <div>
                    <%= form.label :email %>
                    <%= form.email_field :email %>
                    <br> <br>
                  </div>
                  <div>
                    <%= form.label :password %>
                    <%= form.password_field :password %>
                    <br> <br>
                  </div>
                  <div>
                    <%= form.submit "Sign in" %>
                  </div>
                <% end %>
              </div>
            </div> 
    </div><!-- .row -->
</div><!-- .container -->
