<ul>
  <% @application.errors.full_messages.each do |error_message| %>
    <li><%= error_message %></li>
  <% end %>
</ul>
<h1> STUDENT HOUSING APPLICATION </h1>
<% if @application.approve %>
  <h2> This application has been approved </h2>
<% elsif @application.decline%>
  <h2> This application has been declined </h2>
<% end %>
<% if @application.pending? %>
  <h2> This application is pending </h2>
<% end %>
<h3><%= @application.user.email %></h3>
Academic year: <%= @application.academic_year %>
Choose one: <%= @application.semester %>
Home address: <%= @application.home_address %>
Home phone: <%= @application.home_phone %>
Student ID: <%= @application.student_id %>
Age: <%= @application.age %>
Date of birth: <%= @application.date_of_birth %>
Gender: <%= @application.gender %>
Parent/Guardian name: <%= @application.parent_name %>
Parent/Guardian address: <%= @application.parent_address %>
Parent/Guardian home phone: <%= @application.parent_home_telephone %>
Parent/Guardian work phone: <%= @application.parent_work_telephone %><br />
Student's current status at Claflin: 
<ul>
  <% @application.student_statuses.each do |status| %>
    <li><%= status.status %></li>
  <% end %>
</ul>
<h1> PART 2: BUILDING PREFERENCE </h1>
<ol>
  <% @application.halls.map do |hall| %>
    <li><%= hall.name %></li>
  <% end %>
</ol>
<h1> PART 3: ROOMMATE PREFERENCE </h1>
<% if @application.roommate_preference %>
  <p>I have roommate preferences and below are their names</P>
<% else %>
  <p>I have no roommate preference</p>
<% end %>
<% if @application.roommate_preference %>
  <ol>
    <li><%= @application.roommate1 %></li>
    <li><%= @application.roommate2 %></li>
    <li><%= @application.roommate3 %></li>
  </ol>
<% end %>
<h1> PART 4: OTHER INFORMATION </h1>
<% if @application.any_disability %>
  <p>I have a disability</P>
  <ul>
    <li><%= @application.disability_description %> <br /></li>
  </ul>
<% else %>
  <p>I have no disability</p>
<% end %>
<% if @application.previous_application %>
  <p> I have previously applied for housing </p>
<% else %>
  <p> I have not previously applied for housing </p>
<% end %>

<% if @application.pending? %>
  <%= button_to "Approve", admin_application_path(@application, approve: true), method: :put %>
  <%= button_to "Decline", admin_application_path(@application, decline: true), method: :put %>
<% elsif @application.approve && !@application.decline %>
  <%= button_to "Unapprove", admin_application_path(@application, approve: false), method: :put %>
<% elsif @application.decline && !@application.approve %>
  <%= button_to "Undecline", admin_application_path(@application, decline: false), method: :put %>
<% end %>
